.expense-tracker {
    padding: 2% 10%;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #023047;
  }
  
  .expense-tracker h1 {
    font-size: 40px;
  }
  .expense-tracker button {
    margin-left: 10px;
  }
  .add-transaction {
    display: flex;
    gap: 5px;
    align-items: center;
  }
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 200px;
  }
  .profile-photo {
    width: 200px;
    border-radius: 50%;
  }
  
  .sign-out-button {
    border: none;
    margin-top: 50px;
    width: 150px;
    background: #3498db;
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    border-radius: 10px;
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .sign-out-button:hover {
    background: #3cb0fd;
  
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
    cursor: pointer;
  }
  .transactions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .transactions {
    margin-top: 20px;
    padding-left: 10px;
    width: 50%;
    height: 400px;
    overflow: auto;
    border: 3px solid #023047;
  }
  .transaction-item-title {
    display: flex;
    align-items: center;
  }
  .btn-edit-fit {
    margin-bottom: 0.3rem;
    padding: 0.3rem 0.5rem;
    margin-left: 0.5rem;
  }
  .btn-close-fit {
    margin-bottom: 0.3rem;
    padding: 1px;
    margin-left: 0.5rem;
  }
  .mg-btm-0p5rem {
    margin-bottom: 0.5rem;
  }
